.content{
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
#content1{
    display: table;
    width: 100%;
    padding-bottom: 50px;
    margin-top: 10px;
    padding-top: 50px;
    border: 1px solid grey;
}
#form1{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
form{
    margin: auto;
    
}
#button{
    margin: 50px;
}
#tb{
    margin: 15px;
}
th, td {
    margin: 50px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    scrollbar-width: thin; 
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
